.auth {
  &__top {
    color: var(--black);
    justify-content: space-between;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }

  &__bottom {
    justify-content: space-between;
    margin: 20px 0 0 0;
  }

  &__content {
    padding: 20px;
  }

  &__login-btn,
  &__registration-btn {
    flex: 0 1 50%;
    text-align: center;
    padding: 10px;
    cursor: pointer;

    &.active {
      border-bottom: 2px solid var(--blue);
    }
  }

  &__login-content,
  &__registration-content {
    width: 100%;
  }

  input {
    width: 100%;
    height: 40px;
    padding: 5px;

    & + input {
      margin: 20px 0 0 0;
    }
  }

  .input-error {
    color: red;
    font-size: 14px;
    padding: 2px 0 5px;
  }

  &-status-modal {
    position: absolute;
    top: 11px;
    right: 20px;
    animation: bounceInOutRight 3s;
  }
}

.modal-token_wrapper {
  height: 200px;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
  align-items: center;
}
.modal-token {
  color: #000;
}
