.footer {
  background: var(--white);
  margin: 20px 0 0 0;
  padding: 11px 0;

  &__link {
    color: var(--black);
    margin: 0 0 0 20px;
  }

  &__logo {
    display: block;
    width: 80px;
    height: 30px;
  }

  &__year {
    color: var(--black);
  }
}

@media (max-width: 600px) {
  .footer {
    &__row {
      display: block;
    }

    &__links,
    &__logo {
      margin: 0 auto 10px;
      justify-content: center;
    }

    &__year {
      text-align: center;
    }
  }
}

@media (max-width: 350px) {
  .footer {
    font-size: 14px;
  }
}
