.header {
  padding: 11px 0;
  margin: 0 0 30px 0;
  background: var(--darkblue);

  &__row {
    position: relative;
  }

  .logo {
    margin: 0 20px 0 0;
  }

  ul {
    li {
      cursor: pointer;
      white-space: nowrap;

      &.menu-item-active {
        color: var(--blue);
      }

      & + li {
        margin: 0 0 0 20px;
      }
    }
  }
}

@media (max-width: 750px) {
  .header {
    .logo {
      display: none;
    }

    .body-menu {
      display: block;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translate(-100%, 0);
      transition: all 0.5s;
      background: #071a2f;
      z-index: 4000;

      li {
        text-align: center;
        margin: 80px 0 30px;
        font-size: 20px;

        & + li {
          margin: 30px 0;
        }
      }

      &--active {
        transform: translate(0, 0);
      }
    }
  }
}

.icon-menu {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5000;

  span {
    transition: all 0.5s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;

    &:first-child {
      top: 0px;
    }
    &:last-child {
      top: auto;
      bottom: 0px;
    }
  }

  &--active {
    span {
      transform: scale(0);
      &:first-child {
        transform: rotate(-45deg);
        top: 8px;
      }
      &:last-child {
        transform: rotate(45deg);
        bottom: 8px;
      }
    }
  }

  @media (max-width: 750px) {
    display: block;
  }
}
